body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 60px;
    
}

.container {
    background-color: palevioletred;
    text-align: center;
    padding: 60px;
    border: 5px solid yellow;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px; 
}
button {
    padding: 12px 25px;
}